.mission-card-container {
    min-height: 320px;
    min-width: 250px;
    max-height: 320px;
    max-width: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    position: relative;
    border-radius: 15px;
}

.mission-card-divider {
    background-color: #d0e1d3;
    width: 100%;
    height: 2px;
}

.mission-card-title {
    margin:0;
    margin-bottom: 5px;
}

.mission-card-span {
    font-size: smaller;
    font-weight: 500;
    margin-bottom: 10px;
}

.mission-card-p {
    font-size: smaller;
    font-weight: 500;
    margin-bottom: 2px;
    margin-top: 5px;
    text-align: left;
    flex: 9;
}

.mission-card-fases-container {
    max-height: 60%;
    overflow: scroll;
    scrollbar-width: none;
    width: 100%;
}

.mission-card-complete-button {
    background-color: #d0e1d3;
    margin-top: 10px;
}

.mission-card-compelte-button-container {
    position: absolute;
    bottom: 25px; /* Distancia desde la parte inferior del contenedor */
}

.mission-card-checkbox {
    flex: 1;
    max-width: 15px;
}